*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
html{
	height: 100%;
}

body{
	height: 100%;
	max-width: 768px;
	margin: 0 auto;
	background-color:#ccc;
	box-sizing:border-box;
}

a,a:visited,a:hover,a:link{
	text-decoration: none;
	color:#000; 
}
ul{
	text-decoration: none;
}
img{
	display: block;
}
.hot_top{
	width: 100%;
	height: 100%;
	background-color: #ccc;
}
.hot_top .hot_nav{
	width: 100%;
	height: 3em;
	line-height: 3em;
	text-align: center;
	background-color:#fd9395;
}
.hot_top .hot_nav .hot_search{
	width: 100%;
	height: 3em;
}
.hot_top .hot_nav .hot_search span{
	color:white;
	position: relative;
	left: 20px;
	font-size:18px;
}
.hot_top .hot_nav .hot_search a,.sech_pic{
	float:right;
	height: 40px;
	width: 40px;
	position: relative;
	top:3px;
	right:5px;
}
.hot_top .hot_msg{
	width: 100%;
}
.hot_top .hot_msg{
	width: 100%;
	padding:5px;
	height: 120px;
	position: relative;
	background-color: #fff;
	border:1px solid #ccc;
}

.hot_top .hot_msg img{
	position: absolute;
	height:108px;
	width:45%;
}
.hot_top .hot_msg .appoint{
	z-index: 999;
	width:16%;
    
}
.hot_top .hot_msg .right{
	width: 50%;
	position: absolute;
	top:0;
	height: 115px;
	right: 0;
}
.tit{
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

.hot_top .hot_msg .right p{
	font-size: 14px;
	height:34px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;

}
.hot_top .hot_msg .right span{
  position: absolute;
  bottom: 0;
}
.hot_top .hot_msg .right .num{
  right: 5px;
}
.hot_top .hot_msg .right .fpri{
	color: #f76075;
}
.hot_top .hot_msg .right .line{
	left: 40px;
}
.hot_top .hot_msg .right .pri{
	font-size: 14px;
	color: gray;
	left:50px;
	text-decoration: line-through;
}
/*底部切换样式*/
/*底部*/
.bottom_nav{
	width: 100%;
	/*height: 9%;*/
	max-width: 768px;

	position: fixed;
	bottom: 0;

	background-color: rgb(249,249,249);
}

.bottom_nav ul{
	height: 100%;
}

.bottom_nav li{
	width: 20%;
	height: 100%;
	float: left;
}

.bottom_nav li.naver{
	border-bottom: 3px red solid;
}

.bottom_nav li img,.bottom_nav li span{
	display: block;
	width: auto;
	margin: 0 auto;
}

.container{
	padding: 0;
	margin: 0;
}

.bottom_nav li img{
	width: 40%;
	height: 50%;
	margin-top: 10%;
}

.bottom_nav li span{
	margin-left: 33%;
	font-size: 0.5em;
	color: #000000;
}




@media only screen and (min-width: 750px)
{  
	

	.bottom_nav li img
	{
	   margin-top: 10%;
    }

    .bottom_nav li span
    {
		margin-left: 33%;
		font-size: 2em;
		color: #000000;

		position: relative;
		left: 6px;
    }
}

@media  screen and (min-width: 570px) and (max-width: 768px)
{
    .bottom_nav li span
    {


		position: relative;
		left: 2;
		font-size: 1.5em;

	}
}

@media  screen and (min-width: 380px) and (max-width: 570px) 
{
   .bottom_nav li span
    {
		margin-left: 36%;
	}
}

@media  screen  and (width: 320px) 
{
   .bottom_nav li span
    {
		margin-left: 31%;
	}
}
/*团购详情顶部部分*/
.sales_top{
	width:100%;
	height: 3em;
	line-height: 3em;
	text-align: center;
	position: fixed;
	top:0;
	max-width: 768px;
	background-color:#fd9395 ;
}
.sales_top img{
	float: left;
	position: relative;
	top:8px;
}
.sales_top .back{
	height: 30px;
}

.sales_top .middle{
	width:80px;
	height: 35px;
}
.sales_top .share{
  float: right;
  height: 30px;
  margin-right: 5px;
}
.sales_top .select{
  float: right;
  height: 30px;
  margin-right: 5px;
}
.sales_top span{
	color:white;
}

/*团购详情正文部分*/
.sales_bottom{
	width: 100%;
	margin-top:50px;
}
.sales_bottom img{
 width: 100%; 
}
.sales_bottom .shop{
	height: 30px;
	width: 100%;
	line-height: 30px;
	background-color: white;
}
.sales_bottom .shop .fpri{
	color:#ff6076;
	margin-left: 10px;
	font-weight: bold;
}
.sales_bottom .shop .pri{
	color: gray;
	text-decoration:line-through;
	font-size: 14px;
}
.sales_bottom .shop .line{
	font-size: 14px;
	color:gray;
}
.sales_bottom .shop .shop_right{
	float: right;
	height:25px;
	width: 80px;
	line-height: 25px;
	text-align: center;
	color:white;
	margin:2px 5px 0 ;
	background-color: #ff6076;
	border-radius: 5px;
	font-weight: bold;
}
.sales_bottom .date{
	height: 65px;
	width: 100%;
	padding: 5px 5px 0 5px;
	background-color:#eee;
}
.sales_bottom ul li .date img{
	float: left;
	height:16px;
	width:16px; 
}
.sales_bottom .date .date_pic,.date_top{
	float: right; 
}
.sales_bottom .date .nump,.date_top{
	color:gray;
	font-size: 14px;
}
.sales_bottom ul li p{
	font-size: 14px;
}
.sales_bottom ul li .merchant{
	display: inline-block;
	margin-left: 10px;
	width: 100%;
	height:25px;
	line-height: 25px; 
}
.sales_bottom ul li textarea{
	width: 100%;
	height:45px;
	padding: 5px;
	background-color:#fff;
	outline: none;
	resize:none;
	overflow-y:visible;

}
.sales_bottom ul li .textarea_scond{
	height: 120px;
	overflow:hidden;

}
.sales_bottom ul li .textarea_last{
	height: 200px;
	overflow:hidden;
}
.sales_bottom ul li p .scon{
	display: inline-block;
	width: 100%;
	padding:5px;
	background-color: #fff;
}
.sales_bottom ul li p .link{
	display: inline-block;
	height: 25px;
	width: 100%;
	background-color: #fff;
	padding: 5px;
	color:#ff6076;
	font-size: 14px;
	border-top:1px solid #ccc; 
}
.sales_bottom ul li p .link .arrow{
   float:right;
   color:gray;
   font-weight: bold;


}
.star{
	color:gray;
}
/*图片详情*/
.link{
	width: 100%;
	height:700px;
}
.texts_bottom{
	height: 30px;
	width: 100%;
	line-height: 20px;
	padding: 5px;
	position: fixed;
	bottom:0;
	background-color: #fff;
}
.texts_bottom .f{
	font-weight: bold;
	color:#ff6076;
}
.texts_bottom .l{
	font-size: 14px;
	color:gray;
}
.texts_bottom .p{
	color: gray;
	font-size: 14px;
	text-decoration: line-through;
}
.texts_bottom a{
   float: right;
   height:20px;
   width: 80px;
   font-weight: bold;
   text-align: center;
   line-height: 20px;
   color: white;
   background-color: #ff6076;
   border-radius: 2px;
}
.pic{
	position: relative;
	left: -30px;
}
.bdsharebuttonbox{
	width:100%;
	height:40px;
	line-height:40px;
	background-color: #eee;
}
.baidu_share{
	height: 60px;
	width: 100%;
	z-index: 9999;
	position:fixed;
	bottom:8px;
	display: none;
}
.baidu_share p{
	display: inline-block;
	width: 100%;
	height: 30px;
	position: relative;
	top:-6px;
	text-align: center;
	line-height: 30px;
	background-color: #fff;
}
/*提交订单部分*/
.indent{
	position: relative;
	top:50px;
	padding: 10px;
	width: 100%;
	max-width: 768px;
}
.indent p{
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid gray;
    position: relative;
}
.indent h4{
	height: 40px;
	width: 100%;
	padding-left: 10px;
	line-height: 40px;
	background-color: #fff;
}
.indent .btn_indent{
	max-width: 768px;
	position: fixed;
	bottom:10px;
	width:93%;
	margin-right:10px;
	background-color:#000;
	text-align: center;
}
.indent .btn_indent input{
	color:#fff;
	width: 100%;
	line-height: 30px;
	height: 30px;
	outline: none;
	border:none;
	background-color:#000;
}
.indent .reduce_normal,.add_normal{
	float: left;
	height: 25px;
	width: 25px;
	position: relative;
	top:8px;
	margin-left: 10px;
} 
.numbers1{
	float: left;
}
.indent .numbers2{
	width: 40px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border:none;
	outline:none;
	position:relative;
	top:-2px;
	left:2px;
	border-bottom:1px solid gray;
}
#num_all{
	position:relative;
	left: 10px;
	top:26px;
	width:44px;
	height:6px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
#num_all input{
	position:relative;
	top:-30px;}
.indent .fp{
	color:red;
	font-weight: bold;
	font-size:18px;
}
.tel_num,.bind{
	height: 30px;
	font-size:14px;
	line-height: 30px;
	border:none;
	outline: none;
}
.indent .bind {
	float: right;
	height: 26px;
	line-height:26px;
	margin:7px 10px 0 0;
	background-color: red;
	width: 100px;
	font-size: 12px;
	font-weight: bold;
	color:white;
	text-align: center;
}
.indent .your_num
  { display: inline-block;
	width: 100%;
	height: 40px;
	border:none;
	margin:5px 0 5px 0;
	background-color: #bbb;
}
/*确认支付的样式部分*/
.pay_list{
	padding: 5px;
	position:relative;
	top:50px;
	max-width: 768px;
	width: 100%;
}
.pay_list p{
	height: 40px;
	width: 100%;
	position: relative;
	line-height: 40px;
	padding-left:10px;
	border:1px solid gray;
	background-color:#fff;

}
.pay_list .pay_h4{
	height: 40px;
	width: 100%;
	position: relative;
	line-height: 40px;
	padding-left:10px;
	border:1px solid gray;
	background-color:#fff;
}
.pay_list p .pay_right,.pay_num,.pay_all{
	position: absolute;
	right: 20px;
}

.pay_list p img{
	float: left;
	height:40px;
	width: 40px;
}
.web_pay{
    font-size: 14px;
    position: relative;
    top:-10px;
}
.web_pay1{
    font-size: 12px;
    color:gray;
    position: relative;
    top:-35px;
    left:40px;
}
.web_pay2{
	font-size: 14px;
}
.radio1,.radio{
	position: absolute;
	top:15px;
	right: 10px;
}
.pay_list .pay_ways{
   background-color: #bbbbbb;
   border:none;
   margin-top:5px;
}
