*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font-family: "楷体";
}
body{
	margin: 0 auto;
	min-width: 320px;
}
.h_content{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: rgb(250,250,250);
}
.container{
	padding: 0;
}
.h_top{
	width: 100%;
	height: 8%;
	background-color: rgb(254,148,148);
	text-align: center;
	display: table;
	position: relative;	
}
.text{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	font-size: 1.5em;
	color: #fff;
}
.h_top img:nth-child(1){
	height: 50%;
	position: absolute;	
	position: absolute;
	top: 25%;
	left: 10px;
}
.h_top img:nth-child(2){
	height: 70%;
	position: absolute;
	top: 15%;
	left: 5%;	
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.h_top img:nth-child(2){
		left: 10%;
	}
}

@media only screen and (max-width: 320px){
	.h_top img:nth-child(2){
		left: 12%;
	}
}

.banner{
	width: 100%;
	height:0;
    padding-bottom:25%;
	background-size: 100% 100%;
	background-image: url(../img/user_top_bg.jpg);
}
.b_congtent{
	padding-top: 6%;
	width: 70%;
	height: auto;
	text-align: center;
	margin: 0 auto;
	font-size: 1.5em;
}
.img-responsive{
	display: inline;
}
.inpust,.inpust1 {
	width: 100%;
	height: 28%;
	background-color: white;
	position: relative;
}
.inpust1{
	height: 40%;
}
.input,.input1,.input2,.input4,.input6,.input7{
	width: 95%;
	height: 15px;
	margin: 0 auto;
	font-size: 1.2em;
	position: relative;
	top: 25%;
	border: solid 1px gray;
}
.input6{
	top: 5%;
}
.input7{
	top: 10%;
}
.input{
	top: 41%;
}
.input1{
	top: 58%;
}
.input2{
	width: 60%;
	left: -17%;
}
input,.input2 span{
	width: 100%;
	height: 300%;
	position: absolute;
	top: -200%;
	padding-left: 2%;
	border: none;
}
.input2 span{
	display: block;
	width: 50%;
	position: absolute;
	right: -55%;
	top: -70%;
	text-align: center;
	height: 200%;
	line-height: 30px;
	background-color: rgb(254,148,148);
	border-radius: 20px;
}
.input4{
	top: 35%;
}
.click{
	width: 100%;
	height: 10%;
	padding: 2% 10%;
}
.click div{
	width: 48%;
	height: 40px;
	text-align: center;
	font-size: 2em;
	float: left;
	border-radius: 5px;
	background-color: rgb(254,148,148);
}
.click div:nth-child(2){
	margin-left: 4%;
	background-color: white;
}
@media only screen and (max-width: 480px){
	.click div{
		height: 30px;
		font-size: 1.5em;
	}
}
.forget{
	text-align: right;
	padding-right: 7%;
}
fieldset{
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0;
	padding-bottom: 5%;
	border-top: solid 1px gray;
}
fieldset .div{
	width: 100%;
	height: 60%;
	padding: 5% 15%;
}
fieldset .div div{
	width: 45%;
	float: left;
	border: solid 1px gray;
	border-radius: 15px;
	text-align: center;
	margin-left: 3%;
	background-color: white;
}
legend{
	width: 50%;
	margin: 0 auto;
	font-size: 1em;
	border: none;
	text-align: center;
}
fieldset div img{
	width: 33px;
	height: 33px;
}
.sigin,.sigins,.sigins1,.tijao{
	width: 70%;
	margin: 0 auto;
	height: 5%;
	line-height: 30px;
	text-align: center;
	font-size: 1.5em;
	border-radius: 15px;
	background-color: rgb(254,148,148);
}

.sigins{
	position: absolute;
	top: 30%;
	left: 15%;
}
.sigins1,.tijao{
	position: absolute;
	top: 35%;
	left: 15%;
}
@media only screen and (max-width: 320px) {
	.input4{
		top: 30%;
	}
}
.tijiao2,.tijiao3{
	display: none;
}
.person,.lock{
	width: 100%;
	height: 7%;
	padding: 0 5% 0 8%;
	line-height: 40px;
	border-bottom: solid 1px gainsboro;
}
.person span,.lock span{
	display: inline-block;
	float: right;
}
.nicheng{
	width: 40%;
	height: 25px;
	margin: 0 auto;
	border: solid 0.1px black;
}
#backs{
	width: 70%;
	height: 40px;
	text-align: center;
	font-size: 2em;
	position: relative;
	left: 12%;
	top: 2px;
	border-radius: 30px;
	background-color: rgb(254,148,148);
}
