<!DOCTYPE html>
<html>
<head>
	
		<title>热卖</title>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximun-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta http-equiv="Access-Control-Allow-Origin" content="*"/>
		<link rel="stylesheet" type="text/css" href="css/hot_list.css">
</head>
<body>
     <div id="app">
	     <component v-bind:is="view"></component>
     </div>


     <!-- 模版一的选择 -->
     <script type="text/template" id="home">
      <div class="hot_top">
         <ul class="hot_nav">
           <li class="hot_search">
             <span>热卖</span>
             <a href="javascript:;">
             <img src="img/icon_search.png" alt="" title="搜索" class="sech_pic">
             </a>
           </li>
         </ul>
         <ul>
           <li v-for="item in data.items" class="hot_msg" v-on:click="clickIndex(item.id)">
           <a href="#list/{{item.id}}">
            <img src="img/not_appoint.png" class="appoint" alt="">
            <img v-bind:src="'http://juhuituan.boguyuan.com/juhuituan'+item.img" alt="">
            <div class="right">
             <h4 class="tit">{{item.ti}}</h4>
             <p>{{item.con}}</p>
             <span class="fpri">{{item.fpri}}</span>
             <span class="line">/</span>
             <span class="pri">{{item.pri}}</span>
             <span class="num">{{item.num}}人</span>
            </div>
            </a>
           </li>
         </ul>
      </div>
      <div class="bottom_nav container">
      <ul>
        <a href="javascript:;"><li class="naver"><img src="img/tg_select.png" class="img-responsive navImg"/><span>团购</span></li></a>
        <a href="javascript:;" id="hot_sale"><li class="naver"><img src="img/rm_normal.png" class="img-responsive navImg"/><span>热卖</span></li></a>
        <a href="javascript:;"><li class="naver"><img src="img/merchant_icon_normal.png" class="img-responsive navImg"/><span>逛街</span></li></a>
        <a href="javascript:;"><li class="naver"><img src="img/user_normal.png" class="img-responsive navImg"/><span>我的</span></li></a>
        <a href="javascript:;"><li class="naver"><img src="img/more_normal.png" class="img-responsive navImg"/><span>更多</span></li></a>
      </ul>
    </div>
     </script>
     <!-- 团购详情部分 -->
  <script type="text/template" id="list">
    <div class="sales_top"> 
  	   <a href="javascript:;"onclick="javascript:history.back(-1);">
       <img src="img/nav_back.png" class="back"></a>
  	   <img src="img/nav_icon.png" class="middle">
  	    <span>团购详情</span>
       <a href="javascript:;" id="share" v-on:click="share()">
       <img src="img/share.png" class="share"></a>
       <a href="javascript:;">
       <img src="img/uncollect.png" class="select"></a>
  	</div>
      
      <div class="sales_bottom">
         <ul>
            <li>
              <a href="javascript:;">
                <img v-bind:src="'http://juhuituan.boguyuan.com/juhuituan'+data.img" alt="">
                 <div class="shop">
                   <span class="fpri">¥{{data.fpri}}</span>
                    <span class="line">/</span>
                   <span class="pri">{{data.pri}}</span>
                   <a href="javascript:;" class="shop_right">立即抢购</a>
                 </div>
                 <div class="date">
                   <p><img src="img/un.png" alt="">
                   <span class="nump">{{data.num}}人</span>
                   
                   <span class="date_top">截止日期{{data.dt}}</span>
                   <img src="img/clock.png" alt="" class="date_pic">
                   </p>
                   <p><h4>{{data.ti}}</h4></p>
                   <p>{{data.con}}</p>
                 </div>
                 <p><span class="merchant">商家信息</span><br>
                 <textarea disabled="disabled">{{data.jcon}}</textarea></p>
                 <p><span class="merchant">套餐内容</span><br>
                   <textarea disabled="disabled" class="textarea_scond">
                   {{data.scon}}</textarea>
                 </p>
                 <p><a href="#product" v-on:click="clickId(data.lnk,data.fpri,data.pri)" class="link">查看图文详情
                 <span class="arrow">></span></a>
                 </p>
                 <p><span class="merchant">消费提醒</span><br>
                 <textarea disabled="disabled" class="textarea_last">{{data.xcon}}</textarea></p>
                 <p class="merchant">用户评价
                 <span>★★★★★</span><span>0.0分</span>
                 <span>{{data.num}}人评价</span></p>
                </a>
              </li>
         </ul>
      </div>
  </script>
   
    <!-- 图文详情部分 -->
    <script type="text/template" id="product">
        <div class="image_text">
          <ul>
           <li v-for="item in data">
           <div class="sales_top">
             <a href="javascript:;" onclick="javascript:history.back(-1);">
               <img src="img/nav_back.png" class="back" alt="">
             </a>
              <img src="img/nav_icon.png" class="middle" alt="">
               <span class="pic">图片详情</span>
           </div>
           <iframe v-bind:src="item.link" class="link"></iframe>

            <div class="texts_bottom">
              <p><span class="f">{{item.fpri}}</span>
              <span class="l">/</span>
              <span class="p">{{item.pri}}</span>
              <a href="javascript:;">立即抢购</a>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </script>
<div class="baidu_share">
<!-- 分享部分开始 -->
<div class="bdsharebuttonbox">
<a href="#" class="bds_more" data-cmd="more"></a>
<a href="#" class="bds_qzone" data-cmd="qzone"></a>
<a href="#" class="bds_tsina" data-cmd="tsina"></a>
<a href="#" class="bds_tqq" data-cmd="tqq"></a>
<a href="#" class="bds_renren" data-cmd="renren"></a>
<a href="#" class="bds_weixin" data-cmd="weixin"></a>
</div>
<p id="cancel" click="cancel()">取消</p>
</div>
<script>
window._bd_share_config=
{"common":
{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<!-- 分享部分结束 -->

</div>
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/hot_list.js"></script>
</body>
</html>