*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
/*标题*/
body{
	width: 100%;
	height: 100%;
	background: #EEEEEE;
}

/*头部开始*/
.title{
	width: 100%;
	height: 50px;
	display: inline-block;
	position: absolute;
	background: #FD9395;
}
.title .right{
	width: 8%;
    float: left;
    top: 0.1em;

}
.title .right img{
	height: 40px;
	float: left;
	position: relative;
	top: 5px;
}
.title .nav_icon img{
	width: 20%;
	height: 40px;
	float: left;
	position: relative;
	top: 5px;
}
.title .my{
	width: 45%;
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 1.3em;
	color: #fff;
}
/*头部结束*/

/*背景图开始*/
.user_top_bg{
	width: 100%;
	height: 10em;
	position: relative;
	top: 50px;
	background: url(../img/user_top_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.user_top_bg  img{
     width:40%;
     height: 3em;
     position:absolute; 
     top:20%;
     left: 30%;
}

@media screen and (max-width:320px){
			.user_top_bg { 
			     height: 8em;
			}

		}
/*背景图结束*/

/*内容开始*/
.register{
	width: 100%;
	height:9em;
	float: left;

}
.register .get{
    width: 100%;
	height: 100%;
	padding: 2% 0%;
	margin: 2em auto;
	background: #EEEEEE;

}
.register .get ul li{
    width: 90%;
    height: 3em;
    position:relative;
    left: 5%;
    display: inline-block;
    line-height: 4.2em;
    font-size: 1.3em;
    color: #BEBEBE;
  

}

.phone{
	width: 65%;
	height: 100%;
	position: absolute;
	border-bottom:1px solid #BEBEBE 
}
.register .get ul li.xian{
	  border-bottom: 1px solid #BEBEBE
}
.register .get ul li .left{
    height: 20%;
    position: relative;
    top: 80%;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE
    
}
.register .get ul li input{
	width: 99%;
	height: 60%;
	border: none;
	background: #EEEEEE;
	font-size: 0.8em;
	position: absolute;
	left: 0.5%;
	top: 40%;

}
.register .get ul li .verify{
	width: 30%;
	height: 2.5em;
	position: relative;
    top:45%;
	line-height: 2.5em;
	color: #fff;
    text-align: center;
	float: right;
	font-size: 0.8em;
	background: #FD9395;;
	border-radius: 50px;
}
@media screen and (max-width:320px){
.register .get ul li .verify { 
			     font-size: 0.5em;
			}

		}

.login-d{
	width: 100%;
	height: 4em;
	padding: 13% 0%;
	float: left;
}
.login-d .scuccus{
	width: 90%;
	border-radius: 50px;
	cursor: pointer;
	color: #BB1D2B;
	background: #F66177;
	text-align: center;
	line-height: 2em;
	font-size: 1.2em;
	display: inline-block;
	position:relative;
	color: #fff;
	top: 25%;
	left: 5%; 
}


.login-d .scuccus-d{
	width: 35%;
	background: #fff;
	border-radius: 5px;
	cursor: pointer;
	color: #BB1D2B;
	text-align: center;
	line-height: 2em;
	font-size: 1.2em;
	border: 1px solid #BEBEBE;
	display: inline-block;
	position:relative;
	top: 20%;
	left: 20%; 
}
/*内容结束*/



/*验证框*/
.pop-up{
	width: 70%;
    height: 3em;
    text-align: center;
    display: none;
    line-height: 3em;
    z-index: 999;
    color: #fff;
    position: absolute;
    bottom:10%;
    border-radius: 50px;
    left: 15%;
    background: rgba(0,0,0,0.5);
}