*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
/*标题*/
body{
	width: 100%;
	height: 100%;
	background: #fff;
}
.title{
	width: 100%;
	height: 25%;
	display: inline-block;
	position: absolute;
	background: #FD9395;
}
.title .right{
	width: 8%;
    float: left;
    top: 0.1em;

}
.title .nav_icon img{
	width: 20%;
	height: 50px;
	float: left;
}
.title .my{
	width: 30%;
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 1.3em;
	color: #fff;
}
.user_top_bg{
	width: 100%;
	height: 20%;
	position: relative;
	top: 50px;
	background: #EEEEEE
	
}
.user_top_bg  img{
     margin: 10% auto;
     width: 100%;
    
}

@media screen and (max-width:320px){
			.user_top_bg { 
			     height: 8em;
			}

		}

.register{
	width: 100%;
	height:80%;
	float: left;
}
.register .get{
    width: 95%;
	height: 100%;
	padding: 2% 0%;
	margin: 2em auto;
	background: #fff;

}
.register .get ul li{
    width: 90%;
    height: 3em;
    position:relative;
    left: 5%;
    display: inline-block;
    line-height: 4.2em;
    font-size: 1.3em;
    color: #BEBEBE;
  

}


.register .get ul li.xian{
	  border-bottom: 1px solid #BEBEBE
}
.register .get ul li .left{
    height: 20%;
    position: relative;
    top: 80%;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE
    
}
.register .get ul li input{
	width: 99%;
	height: 60%;
	border: none;
	font-size: 1em;
	position: absolute;
	left: 0.5%;
	top: 40%;

}
@media screen and (max-width:320px){
.register .get ul li .verify { 
			     font-size: 0.5em;
			}

		}

.confirm{
	width: 100%;
	height: 3em;
	float: left;
}
.confirm .confirm-a{
	width: 95%;
	height: 90%;
	margin: 0 auto;
	line-height: 220%;
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	border-radius: 5px;
	background: #FD9395;
}

/*验证框*/
.pop-up{
	width: 80%;
    height: 3em;
    text-align: center;
    display: none;
    line-height: 3em;
    z-index: 999;
    color: #fff;
    position: absolute;
    bottom:10%;
    left: 10%;
    background: rgba(0,0,0,0.5);
}